---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Buscador from '../components/Buscador.astro'
import Destinosindex from '../components/Destinosindex.astro'
import Ofertasespeciales from '../components/Ofertasespeciales.astro'
import Nuestroservicios from '../components/Nuestroservicios.astro'
import UltimoArticulo from '../components/UltimoArticulo.astro'
import Scroll from '../components/Scroll.astro'
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explora Viajes</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <Header/>

    <section id="hero" class="hero-section">
        <div class="hero-bg-image"></div>
        <div class="hero-content">
            <h1>Vive la Aventura</h1>
            <p>Explora los destinos más increíbles del mundo con ofertas exclusivas.</p>
            <a href="/destinos" class="cta-button">Explora Destinos</a>
        </div>
        <Scroll/>
    
    </section>
    
    <Buscador/> 
    <Destinosindex/>
    <Ofertasespeciales/>
    <Nuestroservicios/>
    <UltimoArticulo/>
<!--<section id="suscripcion">
        <div class="container">
            <h2>Suscríbete a Nuestro Boletín</h2>
            <form class="subscription-form">
                <input type="email" placeholder="Tu correo electrónico" aria-label="Correo electrónico">
                <button type="submit" class="cta-button">Suscribirse</button>
            </form>
        </div>
    </section>-->
    
<Footer/>
</body>
</html>
